
@model  IList<MegaCategory>


<div class="departments">
    <div class="departments__body">
        <div class="departments__links-wrapper">
            <ul class="departments__links">
                @foreach (var mega in Model)
                {
                    <li class="departments__item">
                        <a href="#">
                            @mega.Name
                            <svg class="departments__link-arrow" width="6px"
                                             height="9px">
                                <use xlink:href="/images/sprite.svg#arrow-rounded-right-6x9">
                                </use>
                            </svg>
                        </a>
                        <div class="departments__megamenu departments__megamenu--@mega.CategoryTypeClass">
                            <!-- .megamenu -->
                            <div class="megamenu megamenu--departments">
                                <div class="row">
                                    @foreach (var category in mega.Categories)
                                    {
                                        <div class="@mega.ClassCol">
                                            <ul class="megamenu__links megamenu__links--level--0">
                                                <li class="megamenu__item megamenu__item--with-submenu">
                                                    <a href="#">@category.Name</a>
                                                    <ul class="megamenu__links megamenu__links--level--1">
                                                        @foreach (var subcategory in category.SubCategories)
                                                        {
                                                            <li class="megamenu__item">
                                                                <a href="#">@subcategory.Name</a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    }
                                </div>
                            </div><!-- .megamenu / end -->
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div><button class="departments__button">
        <svg class="departments__button-icon"
             width="18px" height="14px">
            <use xlink:href="/images/sprite.svg#menu-18x14"></use>
        </svg> Shop By Category <svg class="departments__button-arrow" width="9px"
                                     height="6px">
            <use xlink:href="/images/sprite.svg#arrow-rounded-down-9x6"></use>
        </svg>
    </button>
</div>