


<div class="site__body">
    <div class="block">
        <div class="container">
            <div class="not-found">
                <div class="not-found__404">Oops! Error 403</div>
                <div class="not-found__content">
                    <h1 class="not-found__title">Access Denied</h1>
                    <p class="not-found__text">
                        Access Denied, You Don’t Have Permission To Access on This Page
                    </p>
                    <form class="not-found__search">
                        <input type="text"
                               class="not-found__search-input form-control" placeholder="Search Query..."> <button type="submit" class="not-found__search-button btn btn-primary">
                            Search
                        </button>
                    </form>
                    <p class="not-found__text">Go to the home page to start over.</p>
                    <a class="btn btn-secondary btn-sm" href="/">Go To Home Page</a>
                </div>
            </div>
        </div>
    </div>
</div>
