@model ForgetPasswordVM

<div class="site__body">
    <div class="page-header">
        <div class="page-header__container container">
            <div class="page-header__breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                            <svg class="breadcrumb-arrow"
                                 width="6px" height="9px">
                                <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
                            </svg>
                        </li>

                        <li class="breadcrumb-item active" aria-current="page">Forget Password</li>
                    </ol>
                </nav>
            </div>
            <div class="page-header__title">
                <h1>Forget Password</h1>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 d-flex">
                    <div class="card flex-grow-1 mb-md-0">
                        <div class="card-body">
                            <h3 class="card-title">Forget Password</h3>
                            <div class="mb-3">
                                We need your email address for reset password  link
                            </div>

                            <form method="post">
                                <div class="form-group">
                                    <label>Enter email address</label>
                                    <input type="email" asp-for="Email" class="form-control" placeholder="Enter email">
                                </div>
                                <button type="submit" class="btn btn-primary mt-4">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>