@model IList<Product>


<div class="block-product-columns__column">

    @foreach (var item in Model)
    {
        <div class="block-product-columns__item">
            <div class="product-card product-card--layout--horizontal">
                <partial name="_SmallProductPartial" model="@item" />
            </div>
        </div>
    }
</div>