@model IList<Product>
<div class="owl-carousel">
    @foreach (var item in Model)
    {
        <div class="block-products-carousel__column">
            <div class="block-products-carousel__cell">
                <div class="product-card">
                    <partial name="_LargeProductPartial" model="@item" />
                </div>
            </div>
        </div>
    }
</div>