@model IList<Product>


<div class="products-list__body">
    @foreach (var item in Model)
    {

        <div class="products-list__item">
            <div class="product-card">
                <partial name="_LargeProductPartial" model="@item" />
            </div>
        </div>
    }
</div>